<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/scripts.js"></script>
</head>

<body>
    <div id="header">
        <span id="logo"><a href="/">LIVE TRANSIT</a></span="logo"> <span id="city">EDMONTON</span>
    </div>
    <div id="map"></div>
    <div id="footer" class="center-block">
       <a href="https://www.maharsh.net">Made with ❤ by Maharsh</a>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr3o307hojPIrs5ph16urE3l0YpjhZzc0&callback=initMap" async defer></script>
</body>

</html>
