<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/scripts.js"></script>
</head>

<body>
    <div id="header">
        Header
    </div>
    <div id="style-selector-control" class="map-control">
        <select id="style-selector" class="selector-control">
            <option value="default" selected="selected">Default</option>
            <option value="silver">Silver</option>
            <option value="night">Night mode</option>
            <option value="hiding">Hide features</option>
        </select>
    </div>
    <div id="map"></div>
    <div id="marker-tooltip"></div>
    <div id="footer">
        Footer
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr3o307hojPIrs5ph16urE3l0YpjhZzc0&callback=initMap" async defer></script>
</body>

</html>
